<header>
  <h1>Hello there, <%= current_user.email %></h1>
  <h2>Rails version is <%= Rails.version %></h2>
</header>
<section>
  <p>
    Future possible home of the Porthos Portal
  </p>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>