<div id="contact-card" class="card col-md-6 col-xs-12">
  <div class="col-md-12">
    <h1>contact</h1>
    <hr class="tiny">
  </div>
  
  <div class="col-md-12">
    <h3><%= mail_to "info@porthoshome.com" %></h3>
    <ul class="social-row list-inline">
      <% social_media_icons.each do |icon, url| %>
        <li><%= link_to fa_icon("#{icon.to_s} fw"), url, class: "btn-social", target: '_blank' %></li>
      <% end %>
    </ul>
    
    <ul class="desktop-contact-links list-inline" style="display:none;">
      <li><%= link_to 'Wholesale', main_app.contact_path(subject: 'Wholesale Inquiries'), id: 'wholesale-inquiry',  class: "contact" %></li>
    </ul>
    <p class="copyright">Copyright &copy; Porthos Home <%= Time.now.year %></p>
  </div>
</div>