<div class="control-group">
  <div class="form-group floating-label-form-group controls">
    <%#= f.label :subject, "Subject", class: 'required' %>
    <%= f.select :subject, ["Product Availability", "Product Inquiries: description, pricing, etc ...", "Wholesale Inquiries", "Other"], 
    html_options: { id: "subject", class: "form-control" }, data: { required: true, 'validation-required-message': "Please select one." } %>
    <p class="help-block text-danger"></p>
  </div>
</div>