
<div class="control-group select">
  <div class="form-group floating-label-form-group controls">
    <%= f.select :subject, ["Product Availability", "Product Inquiries: description, pricing, etc ...", "Wholesale Inquiries", "Other"], 
                { prompt: "Regarding (Choose One)*", selected: @subject }, id: "subject", class: "form-control selectpicker", required: true %>
  </div>
</div>
