<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="social footer-col col-md-4">
         
        </div>
        
        <div class="footer-col col-md-4">
          <h3><%= mail_to "info@porthoshome.com" %></h3>
          <ul class="list-inline">
            <% social_media_icons.each do |icon, url| %>
              <li><%= link_to fa_icon("#{icon.to_s} fw"), url, class: "btn-social" %></li>
            <% end %>
          </ul>
          <p class="copyright">Copyright &copy; Porthos Home <%= Time.now.year %></p>
        </div>
        <div class="footer-col col-md-4">
         
        </div>
      </div>
    </div>
  </div>
</footer>