<div class="container">
  <div class="row">
    <%= render partial: "layouts/shared/inquiries" %>
    <div id="spotlight-card" class="card col-md-6">
      <%= image_tag "footer-right.jpg", title: "kch002", class: "spotlight" %>
    </div>
  </div>
</div>
