<div class="container">
  <div class="inquiries-front row">
    <%= render partial: "layouts/shared/inquiries" %>
    <div id="spotlight-card" class="card col-md-6">
      <%= image_tag "cb128c.jpg", title: "musketeer silhouette", class: "spotlight" %>
    </div>
  </div>
</div>
