<!-- Footer -->
<footer class="contact">
  <div class="container">
    <div class="row">
      <%= render partial: "messages/form" %>
      <%= render partial: "messages/card" %>
    </div>
  </div>
</footer>
