<!-- Navigation -->
<nav id="main-nav" class="navbar navbar-custom navbar-default navbar-fixed-top transparent" data-spy="affix" data-offset-top="100" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="dl-nav-header" class="navbar-header" data-target="page-top">
      <div id="toggle-nav-button-wrapper" class="col-xs-3 text-center">
        <button type="button" class="toggle-mv-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
        <span class="menu">MENU</span>
      </div>
      <div class="col-xs-6 logo-wrapper">
        <figure id="logo" class="logo"> <%= logo %> </figure>
      </div>
      
      <%#= yield :main_navigation %>
      <!-- /.navbar-cart -->
    </div>
    <!-- /.navbar-header -->
  </div>
  <!-- /.container-fluid -->
</nav>

