<!-- Navigation -->
<nav class="navbar-default static opaque" role="banner">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="dl-nav-header" class="navbar-header page-scroll" data-target="page-top">
      <div id="toggle-nav-button-wrapper" class="col-xs-3 text-center">
        <button type="button" class="toggle-mv-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="menu">MENU</span>
      </div>
      <div class="col-xs-6 logo-wrapper">
        <figure id="logo" class="logo"> <%= logo('logos/logo-w.png') %> </figure>
      </div>
      <!-- /.navbar-cart -->
    </div>
    <!-- /.navbar-header -->
  </div>
  <!-- /.container-fluid -->
</nav>
