<div class="grid-item col-md-4">
  <%= preview_reference(image, i) %>
	<a href="/collections">
	  <figure>
      <%= image_tag "preview/preview#{i}.png", title: "furniture collection preview", class: "collection-preview-image" %>
      <%#= image_tag "//cdn.shopify.com/s/files/1/0507/2925/products/Shopify_subscription_07a9578e-3289-42b3-a2bc-2450d5031930_1024x1024.jpg?v=1464879305", title: "Subscription", id: "ProductPhotoImg" %>
      <figcaption>
        <h2>Subscription</h2>
	      <h3>£22.00</h3>
      </figcaption>
	  </figure>
  </a>
</div>