<div class="grid-item col-md-4">
  <%= preview_reference(image, uri) %>
	<a href="/collections">
	  <figure>
      <%= image_tag "preview/#{image}", title: "furniture collection preview", class: "collection-preview-image" %>
      <figcaption>
        <h2>Subscription</h2>
	      <h3>£22.00</h3>
      </figcaption>
	  </figure>
  </a>
</div>