<div class="container">
  <div class="heading-row row">
    <div class="title col-sm-6 col-xs-12">
      <h1 id="collection-preview">COLLECTION</h1>
    </div>
    <div class="col-sm-6 col-xs-12 see-more text-right">
      <%= link_to "see more".upcase, main_app.collection_path, class: "btn btn-lg btn-outline" %>
    </div>
  </div>
  <div class="gallery gallery-popup">
    <div class="grid-uniform grid-home">
      <div class="main-row row">
        <% ["preview0.jpg", "preview1.jpg", "preview2.jpg"].each_with_index do |image, i| %>
          <div class="<%= grid_item_dom_klass(i+1) %>">
            <%= preview_reference(image) %>
          </div>
        <% end %>
      </div>
      <div class="retail-leads-row row">
        <% collection_items(preview: true).each_with_index do |variant, i| %>
          <%= render partial: "collection/collection_item", locals: { variant: variant, preview: true, i: i } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  