<!-- Header (Front Page) -->
<header id="intro-splash">
  <div class="container">
    <div class="row look-at-me slick-main" data-hook="slideshow">
      <div class="image"> <%= image_tag "slideshow-2.jpg", class: 'slick' %> </div>
      <div class="image"> <%= image_tag "slideshow-1.jpg", class: 'slick' %> </div>
      <div class="image"> <%= image_tag "slideshow-3.jpg", class: 'slick' %> </div>
    </div>
    
  </div>
</header>
