<div class="container">
  <div class="row herro slick-main" data-hook="slideshow">
    <% @hero_images.all_active.each_with_index do |hero_image, i| %>
      <%= render partial: hero_image, locals: { index: i } %>
    <% end %>
  </div>
</div>
