<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>FEATURED IN</h1>
    </div>
  </div>
  <div class="row standard-grid grid">
    <div class="col-sm-12">
      <% featured_in_images.each do |image, uri| %>
        <%= render partial: "layouts/grid_item", locals: { image: image, url: uri } %>
      <% end %>
    </div>
  </div>
</div>
