<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>FEATURED IN</h1>
    </div>
  </div>
  <div class="row standard-grid grid">
    <div class="col-sm-12">
      <% featured_in_images.each_with_index do |image, i| %>
        <%= render partial: "layouts/grid_item", locals: { image: image, position: i } %>
      <% end %>
    </div>
  </div>
</div>
