<div class="featured-in">
  <h1>FEATURED IN</h1>
</div>

<div class="container">
  <div class="row standard-grid grid">
    <% featured_in_images.each do |image, uri| %>
      <%= render partial: "press_item", locals: { image: image, url: uri } %>
    <% end %>
  </div>
  <div class="musketeer row">
    <div class="col-md-offset-4 col-md-4">
      <%= image_tag "musketeer.png", title: "musketeer silhouette", class: "spotlight" %>
    </div>
  </div>
</div> 
 