<div class="col-xs-6 col-sm-4 col-md-3 grid-item">
  <a href="<%= url %>" class="thumbnail-wannabe">
    <figure>
      <%= image_tag image, alt: "featured in", class: 'img img-responsive full-width' %>
      
      <figcaption>
        <h2 class="caption-title">
          <% if image == 'overstock.png' || image == 'wayfair.png' %>
            view collection
          <% end %>
        </h2>
        <h3 class="caption-content"></h3>
      </figcaption>
    </figure>
  </a>
</div>
