<section class="spotlight">
  <div class="spotlight-v1">
    <div class="tile full">
      <%= image_tag("spotlight.png", class: "img-responsive large-tile", alt: 'Think Outside The box') %>
    </div>
  </div>
</section>
