<!-- About Us Section -->
<header class="our-story">
  <div class="container">
    <div class="row">
      <div id="company-tagline" class="col-md-12 text-center">
        <h4><% currently_at "Our Story" %></h4>
        <h1 class="company-name"> Porthos Home </h1>
      </div>
    </div>
  </div>
</header>





<section id="about-us" class="our-story">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= image_tag "feathers/original.png", title: "feather", class: "accent" %>
      </div>
    </div>
    
    <div class="row slogan-container">
      <h2 class="slogan">
        <%= current_store.about_us_slogan.html_safe %>
      </h2>
    </div>
    
    <div class="abouter row">
      <div class="col-md-8 col-md-offset-2">
        <%= current_store.about_us_text.html_safe %>
      </div>
    </div>
  </div>
  <!-- <p class="address">47650 Kato Rd.<br>Fremont, CA 95483</p> -->
</section>