<!-- About Us Section -->
<header class="our-story">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4><%= currently_at "Our Story" %></h4>
      </div>
    </div>
  </div>
</header>
<section id="about-us" class="our-story">
  <div class="container">
    <div class="abouter row">
      <div class="col-md-4 col-md-offset-2">
        <p>
          Donec ultricies erat eget porta tristique. In hac habitasse platea dictumst. Suspendisse massa nunc.
          Curabitur ac sapien tempor, laoreet magna non, viverra enim! Praesent elementum commodo quam nullam.
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Donec ligula purus, tempus at nisl nec, viverra vulputate ex. Mauris condimentum magna pulvinar sed.
          In facilisis commodo molestie. Curabitur euismod magna fermentum, posuere sem ut; suscipit volutpat.
        </p>
      </div>
    </div>
  </div>
  <!-- <p class="address">47650 Kato Rd.<br>Fremont, CA 95483</p> -->
</section>