<!-- About Us Section -->
<header class="our-story">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4><%= currently_at "Our Story" %></h4>
      </div>
    </div>
    <div id="company-tagline">
      <h1 class="company-name">
        Porthos Home
      </h1>
    </div>
  </div>
</header>





<section id="about-us" class="our-story">
  <div class="container">
    
    <div class="slogan-container">
      <h2 class="slogan">
        Right piece, right person, right price
      </h2>
    </div>
    
    
    
    <div class="abouter row">
      <div class="col-md-8 col-md-offset-2">
        <p>
          At Porthos Home, we understand the apprehensions with buying furniture online, 
          that's why we work closely with our designers to ensure each piece has the quality, craft, and staying power to complete your home.
        </p>
      </div>
    </div>
    <div class="abouter row">
      <div class="col-md-8 col-md-offset-2">
        <p>
          We're dedicated to sourcing the very best pieces at the very best prices.
        </p>
      </div>
    </div>
    
  </div>
  <!-- <p class="address">47650 Kato Rd.<br>Fremont, CA 95483</p> -->
</section>