<%= render partial: 'storefront/herro' %>

<!-- About Us Section -->
<section class="catalog">
  <div class="container">
    <div class="row">
      <div class="catalog-outer col-lg-12">
        <div class="open-catalog col-md-7">
          <%= image_tag "catalog.png" %>
        </div>
        <div class="col-md-5">
          <h2>Porthos</h2>
          <!-- <hr class="ribbon stacked"> -->
          <div class="abouter">
            <p>Envision products curated and culled regularly, demanding nothing but the sharpest designs, at the market's sharpest pricing.</p>
            <p>With an eye for modern styles, combined with an appreciation for intricacy and workmanship. </p>
            <p>Envision, Porthos Home. </p>
            <div class="dl-catalog submit-group">
              <%= link_to_catalog %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>


<!-- <section class="spotlight spotlight-major">
  <div class="container">
    <div class="tile full">
    </div>
  </div>
</section> -->


<!-- <section class="spotlight spotlight-minor">
  <div class="container">
    <div class="row tile full">
    </div>
  </div>
</section> -->



<section class="featured">
  <%= render partial: 'storefront/press' %>
</section>


<%#= render partial: 'storefront/contact_us' %>

<script type="text/javascript" charset="utf-8">
  $('body').scrollspy({ target: '.navbar-fixed-top' })
</script>
