<%= render partial: 'storefront/header' %>

<!-- About Us Section -->
<section id="about-us">  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="ribbon stacked">
        <!-- <h2>About Us</h2> -->
      </div>
    </div>
    <div class="abouter row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Envision products curated and culled regularly, demanding nothing but the sharpest designs, at the market's sharpest pricing.</p>
      </div>
      <div class="col-lg-4">
        <p>With an eye for modern styles, combined with an appreciation for intricacy and workmanship. Envision, Porthos Home.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center"> <%= link_to_catalog "catalogue" %> </div>
    </div>
  </div>
</section>

<section class="featured">
  <%= render partial: 'storefront/press' %>
</section>

<section class="spotlight spotlight-major">
  <div>
    <div class="tile full"></div>
  </div>
</section>



<section class="spotlight spotlight-minor">
  <div class="container spotlight-v2">
    <div class="row tile full"> </div>
  </div>
</section>



<%= render partial: 'storefront/contact_us' %>

<script type="text/javascript" charset="utf-8">
  $('body').scrollspy({ target: '.navbar-fixed-top' })
</script>
