<!-- About Us Section -->
<section id="about-us">  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
          <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>We are a shop based in Northern California with the an eye for modern design but an appreciation for the intricacy and workmanship of antiques.</p>
      </div>
      <div class="col-lg-4">
        <p>Energistically exploit viral sources vis-a-vis backward-compatible benefits. Professionally drive low-risk high-yield e-tailers vis-a-vis resource.!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="#" class="btn btn-lg btn-outline">
              <i class="fa fa-download"></i> Download Catalog
          </a>
      </div>
    </div>
  </div>
</section>