<section class="spotlight">
  <div class="spotlight-v1">
    <div class="tile full">
      <%= image_tag("spotlight.png", class: "img-responsive large-tile", alt: 'Think Outside the box') %>
      <%#= link_to '#', , class: "sale large-tile" %>
    </div>
  </div>
</section>
