<section id="placeholder">
  <div id="placeholder" class="dynamic-resize">
    <%= link_to rails_admin_path do %>
      <%= image_tag "logo.png", title: "logo", class: "class" %>
    <% end %>
  </div>
</section>