# # Change to match your CPU core count
# workers 2
#
# # Min and Max threads per worker
# threads 1, 6
#
# app_dir = File.expand_path("../..", __FILE__)
# shared_dir = "#{app_dir}/shared"
#
# # Default to production
# rails_env = ENV['RAILS_ENV'] || "production"
# environment rails_env
#
# # Set up socket location
# bind "unix://#{shared_dir}/sockets/puma.sock"
#
# # Logging
# stdout_redirect "#{shared_dir}/log/puma.stdout.log", "#{shared_dir}/log/puma.stderr.log", true
#
# # Set master PID and state locations
# pidfile "#{shared_dir}/pids/puma.pid"
# state_path "#{shared_dir}/pids/puma.state"
# activate_control_app
#
# on_worker_boot do
#   require "active_record"
#   ActiveRecord::Base.connection.disconnect! rescue ActiveRecord::ConnectionNotEstablished
#   ActiveRecord::Base.establish_connection(YAML.load_file("#{app_dir}/config/database.yml")[rails_env])
# end

# 30b38cbe63ead964d68cbd19a6c6ba8139ec26abd4ad5ea0ca674ee0455c33f703bbd3932f0680f2500913920f7ef587e486f98bfa450a584b23501f7c864138

# cap install STAGES=staging,production