<section class="collection">
  <div class="container">
    <div class="row">
      <div class="title col-sm-offset-3 col-sm-6 col-xs-12">
        <h1 id="collection"><%= currently_at 'Collection' %></h1>
      </div>
    </div>
    <div class="gallery-popup main-row portfolio row">
        <% collection_items.each_with_index do |master_variant, i| %>
          <%= render partial: "collection_item", locals: { variant: master_variant, preview: false, i: i } %>
        <% end %>
    </div>
  </div>
</section>