<section class="collection">
  <div class="container">
    <div class="row">
      <div class="title col-sm-offset-3 col-sm-6 col-xs-12">
        <h1 id="collection"><%= currently_at 'Collection' %></h1>
      </div>
    </div>
    <div class="main-row">
      <div class="gallery-popup grid-uniform grid-home portfolio row">
        <% collection_items.each do |image| %>
          <%= render partial: "collection_item", locals: { image: image } %>
        <% end %>
      </div>
    </div>
  </div>
</section>