<div class="row footer-lifestyle flex" data-hook="lifestyle_main">
  <div class="col-xs-12 col-sm-12 col-md-8 lazy" style="background-image: url('<%= asset_path(lifestyle_background_image @product) %>')">
  </div>
</div>