<div class="row footer-lifestyle flex <%= @product.sku %>" data-hook="lifestyle_main">
  <div class="col-xs-12 col-sm-12 col-md-8 lazy">
    <%= image_tag asset_path(lifestyle_background_image @product), title: @product.name, class: "product-lifestyle-shot", id: "foobar" %>
  </div>
</div>