<% if image == 'overstock.png' %>
  <% brand_page = 'http://www.overstock.com/Porthos-Home,/brand,/results.html' %>
<% elsif image == 'wayfair.png' %>
  <% brand_page = 'http://www.wayfair.com/Porthos-Home-B40284.html' %>
<% end %>

<div class="grid-item square">
  <a href="<%= brand_page %>" class="spotlight-link <%= image.blank? ? 'feat-intro' : 'caption' %>" data-toggle="modal">
    <figure> 
      <%= image_tag image, alt: "featured in" %>
      <figcaption class="caption">
        <h2 class="caption-title">featured in</h2>
        <h3 class="caption-content">
          <% if image == 'overstock.png' %>
            our collection on: overstock.com
          <% elsif image == 'wayfair.png' %>
            our collection on: wayfair
          <% end %>
        </h3>
      </figcaption>
    </figure>
  </a>
</div>
      
    