<div class="<%= featured_item_offset_class(position) %>">
  <a href="#spotlightModal<%= position %>" class="spotlight-link <%= image.blank? ? 'feat-intro' : 'caption' %>" data-toggle="modal">
    <figure> 
      <%= image_tag image, alt: "spotlight-#{position}" %>
      <figcaption class="caption">
        <h2 class="caption-title">featured in</h2>
        <h3 class="caption-content"></h3>
      </figcaption>
    </figure>
  </a>
</div>
      
    