<div class="col-md-4 col-sm-6 col-xs-12 grid-item">
  <a href="#spotlightModal<%= position %>" class="spotlight-link" data-toggle="modal">
    <figcaption class="caption">
      <h2 class="caption-title"></h2>
      <h3 class="caption-content"></h3>
    </figcaption>
    <figure>
	    <%= image_tag image, class: "img-responsive", alt: "spotlight-#{position}" %>
      
    </figure>
  </a>
</div>
      
    