<% if image == 'overstock.png' %>
  <% brand_page = 'http://www.overstock.com/Porthos-Home,/brand,/results.html' %>
<% elsif image == 'wayfair.png' %>
  <% brand_page = 'http://www.wayfair.com/Porthos-Home-B40284.html' %>
<% end %>

<div class="col-xs-6 col-sm-6 col-md-3 grid-item">
  <a href="<%= brand_page %>" class="thumbnail">
    <figure>
      <%= image_tag image, alt: "featured in", class: 'img img-responsive full-width' %>
      
      <figcaption>
        <h2 class="caption-title">
          <% if image == 'overstock.png' || image == 'wayfair.png' %>
            view collection
          <% end %>
        </h2>
        <h3 class="caption-content"></h3>
      </figcaption>
    </figure>
  </a>
</div>
      
    